// Note: styles are partly the same in all *Forms
// TODO: merge styles
.form {
  justify-content: space-between;
  max-width: 700px;
}

// TODO fix font, it's too bold
.title {
  font-size: 24px;

  //font-weight: 400;
}

.fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: inherit;

  & > * {
    margin-top: 20px;

    // margin: 20px 20px 0 0;
    //&:last-child {
    //  margin-right: 0;
    //}
  }
}

@media only screen and (max-width: 800px) {
  .title {
    text-align: center;
    font-size: 20px;
  }

  .fields {
    flex-direction: column;
    align-items: center;

    & > * {
      width: 340px !important;
    }
  }
}
